/**
 * 常量配置文件
 */
/* * font-size */
mini-font-size = 10px
small-font-size = 12px
main-font-size = 14px
big-font-size = 16px
bigger-font-size = 18px
max-font-size = 20px
title-font-size = 24px
/* * button */
small-button-height = 26px
main-button-height = 34px
big-button-height = 44px
large-button-height = 48px
black-button-bg-color = #4a4a4a
main-button-bg-color = #EA4F44
grey-button-bg-color = #9B9B9B
/* * color */
white-color = #ffffff
main-font-color = #4a4a4a
main-bg-color = #F8F9FB
/* * padding */
/* * z-index */
mask-zindex = 4999
dialog-zindex = 5000
